<footer class="footer l-container">
  <div class="footer__inner01">
    <div class="footer__siteName">Nagisa</div>

    <address class="footer__address">
      〒901-3125<br>
      沖縄県島尻郡久米島町字鳥島グスク
    </address>
  </div><!-- /.footer__leftInner -->

  <div class="footer__inner02">
    <nav class="footer__nav">
      <ul class="footer__navList">
        <li class="footer__navItem">
          <a class="footer__navLink" href="company.html">会社概要</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="privacypolicy.html">プライバシーポリシー</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="contact.html">お問い合わせ</a>
        </li>
      </ul>
    </nav>

    <p class="footer__copyright">
      © <span class="footer__copyrightSiteName">Nagisa</span> Corp. All rights reserved.
    </p>
  </div><!-- /.footer__rightInner -->
</footer>
