<%
  if (typeof headerElement === 'undefined') {
    var headerElement = '';
  }
%>

<nav class="<%= headerElement %> gNav">
  <ul class="gNav__list">
    <li class="gNav__item">
      <a class="gNav__link" href="index.html">ホーム</a>
    </li>

    <li class="gNav__item">
      <a class="gNav__link" href="company.html">会社概要</a>
    </li>

    <li class="gNav__item">
      <a class="gNav__link" href="contact.html">お問い合わせ</a>
    </li>
  </ul>
</nav>
