<%
  if (typeof pageTitle === 'undefined') {
    var pageTitle = '';
  }

  if (typeof data === 'undefined') {
    var data = {
      head: 'default',
      body: 'default'
    };
  }
%>

<head>
  <meta charset="utf-8">

  <title>
    <% if (pageTitle) { %>
      <%= pageTitle %> | NAGISA
    <% } else { %>
     NAGISA
    <% } %>
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="<%- description %>">
  <meta name="author" content="<%= author %>">
  <meta name="copyright" content="<%= copyright %>">

  <link rel="icon" type="image/svg+xml" href="images/idea.png">
  <link rel="apple-touch-icon" type="image/png" href="images/secure.png">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans+JP:wght@700;900&display=swap" rel="stylesheet">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'/>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.5/swiper-bundle.min.css'/>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css'/>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css'/>

  <link rel="stylesheet" href="css/main.css" type="text/css">
</head>
