<div class="heroHeader l-container">
  <figure class="heroHeader__figure">
    <img class="heroHeader__image"
      srcset="images/workspace742.png 742w,
              images/workspace1484.png 1484w,
              images/workspace2226.png 2226w"
      sizes="(max-width: 767px) 100vw,
             742px"
      src="images/workspace.jpg"
      alt="写真：ワークスペース">
  </figure>

  <div class="heroHeader__body">
    <hgroup class="heroHeader__headingGroup">
      <h1 class="heroHeader__heading">
        ワークスペースの<br>
        施工・デザイン設計
      </h1>

      <h2 class="heroHeader__subHeading">Workspace Technical Design</h2>
    </hgroup>

    <p class="heroHeader__text">新しい時代に求められるワークスペースの施工・デザインを行います。仕事内容や作業に合わせ、最適でモダンな環境を作り出します。</p>

    <a class="heroHeader__link primaryBtn" href="contact.html">お問い合わせ</a>
  </div><!-- /.heroHeader__body -->
</div><!-- /.heroHeader -->
