// ベース


// 変数
@use "variables" as v;


* {
  margin: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: v.$baseTextColor;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: inherit;
}
